@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik:wght@400;500;700&display=swap');
* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
  background: #194f8a;
}
h1 {
  font-size: "50px";
}
      
body {
  color: #FFFFFF;
  margin: 100px;
  text-align: left;
}